/* --- PODSTAWY --- */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  /* background: #5e3608;  */
  background: linear-gradient(to bottom, #5e3608 0%, #3a2105 100%);
  color: #333;
}

/* --- GRAFIKA --- */
.header-image {
  width: 100%;
  /* height: 50%; */
  aspect-ratio: 21 / 9;
  background-image: url("/images/header-bg.webp"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* --- MENU --- */
nav {
  background: #5e3608;
  border-top-right-radius:30px;
  border-bottom-right-radius:30px;
  padding: 1.5em;
  display: flex;
  gap: 1.5em;
  justify-content: center;
  position: fixed;
  /* top: 0; */
}

nav a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  /* text-transform: uppercase; */
  font-size: 18px;
  letter-spacing: 3.6px;
}

/* --- GŁÓWNA TREŚĆ --- */
main {
  padding-top: 2.5em; 
  padding-bottom: 3em;
}

/* --- KONTENER TREŚCI (JASNY PAS) --- */
.container {
  max-width: 900px;
  margin: 0 auto;
  background: #dbc897; 
  padding: 2em 2em 2em 2em;
  /* box-shadow: 0 0 15px rgba(0,0,0,0.05); */
  border-radius: 50px;
  /* display: flex; */
  /* position: sticky; */
  /* top: 10px; */
}

/* --- STOPKA --- */
footer {
  text-align: center;
  padding: 1em 0;
  background: transparent; 
  color: #333;
}

/* --- RESPONSYWNOŚĆ --- */
@media (max-width: 768px) {
  .header-image {
    height: 180px;
  }

  .container {
    max-width: 90%;
    padding: 2em 1.2em;
  }

  nav {
    flex-wrap: wrap;
  }
}

/* --- GALERIA --- */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.gallery figure {
  margin: 0;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
}

.gallery img {
  width: 100%;
  height: 220px; 
  object-fit: cover; 
  display: block;
}

.gallery figcaption {
  padding: 0.7rem;
  text-align: center;
  font-size: 0.9rem;
  color: #444;
}


