---
import BaseLayout from "../layouts/Layout.astro";
import Markdown from '@astro/markdown-remark';
import content from "./o-mnie.md";
---

<BaseLayout title={content.title}>
  <h1>{content.title}</h1>
  <Markdown>
    {content}
  </Markdown>
</BaseLayout>
