---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Usługi i Cennik">
  <h1>Usługi i Cennik</h1>
  <ul>
    <li>Spacer z psem – 30 zł / 30 min</li>
    <li>Opieka dzienna – 80 zł / dzień</li>
    <li>Hotelik – 120 zł / noc</li>
  </ul>
</Layout>
